.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
}

.bio__image {
  height: 350px;
  width: 350px;
  border-radius: 1px 10px;
}

.bio__name {
  font-size: 50px;
  color: #31DA31;
  margin: 0;
}

.bio__text {
  font-size: 25px;
  color: #31DA31;
  margin: 0;
}

.bio__emboss {
  background-color: #FFD700;
  border-radius: 1px 10px;
  color: #000;
}

@media screen and (max-width: 500px) {
  .bio__image {
    width: 275px;
    height: 275px;
  }

  .bio__text {
    font-size: 17px;
  }
}