.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #31DA31;
  border: 2px solid #FFD700;
  border-radius: 10px;
  background-color: #000;
  margin: 15px 30px;
  overflow: hidden;
  transition: box-shadow .5s linear;
  cursor: pointer;
  position: relative;
}

.card__container:hover {
  box-shadow: 1px 0px 10px 6px #31DA319d;
}

.card__image {
  max-width: 450px;
  border-bottom: 1px solid #FFD700;
}

.card__info {
  text-align: center;
  max-width: 500px;
  color: white;
}

.card__title {
  margin: 0;
  padding: 10px;
  border-top: 1px solid #FFD700;
  border-bottom: 1px solid #FFD700;
  font-size: 25px;
  font-weight: bold;
  color: #31DA31;
}

.card__type {
  margin: 0;
  padding: 0;
}

.card__location {
  margin: 0;
  padding: 0;
}

.card__description {
  margin: 0;
  padding: 10px 2px;
}

.card__url {
  margin: 0;
  padding: 0;
}

.card__technologies {
  width: 400px;
  height: 350px;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 40px;
}

.card__tech {
  width: max-content;
  font-size: 20px;
  border: 1px solid #FFD700 ;
  border-radius: 1px 10px;
  background-color: #000;
  color: #31DA31;
  padding: 0 5px;
  transform: scale(1, 1);
  transition: transform .1s ease-in-out;
}

.card__tech:hover {
  transform: scale(1.05, 1.05);
}